@page "/resources"

<h1>Resources</h1>

<div class="d-flex justify-content-end mb-4">
    <MudButton Color="Color.Primary" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" OnClick="@CreateResource">
        Resource
    </MudButton>
</div>

<MudTable Items="@filteredResources" Hover="true" Bordered="true" Striped="true" RowsPerPage="10">
    <ToolBarContent>
        <MudTextField @bind-Value="_searchString"
                      Placeholder="Search"
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      IconSize="Size.Medium"
                      Class="mb-4"
                      Immediate="true"
                      OnKeyUp="OnSearchChanged" />
    </ToolBarContent>

    <HeaderContent>
        @foreach (var heading in headings)
        {
            <MudTh>@heading</MudTh>
        }
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Type">@context.Type</MudTd>
        <MudTd DataLabel="Manager">@GetDepartmentName(context.DepartmentId)</MudTd>
        <MudTd DataLabel="Status">@context.Status</MudTd>
        <MudTd DataLabel="Description">@context.Description</MudTd>
        <MudTd DataLabel="CreatedAt">@context.CreatedAt.ToString("dd/MM/yyyy HH:mm")</MudTd>
        @* <MudTd>
            <div class="d-flex justify-content-between">
                <MudIconButton Icon="@Icons.Material.Filled.Edit"
                               Color="Color.Primary"
                               OnClick="@(() => EditResource(context.Id))" />

                <MudIconButton Icon="@Icons.Material.Filled.Delete"
                               Color="Color.Error"
                               OnClick="@(() => DeleteResource(context.Id))" />
            </div>
        </MudTd> *@
    </RowTemplate>

    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
