@using MudBlazor
@using CorpResource.Domain.Models

<MudDialog>
    <DialogContent>
        <MudForm @ref="form" Model="@Department">
            <MudGrid Justify="Justify.Center" Spacing="3">
                <MudItem xs="12">
                    <MudTextField @bind-Value="Department.Name" Label="Name" Required />
                </MudItem>
                <MudItem xs="12">
                    <MudSelect T="User"
                               Label="Manager"
                               @bind-Value="SelectedUser">
                        @if (Users is not null)
                        {
                            @foreach (var user in Users)
                            {
                                <MudSelectItem Value="@user">@user.FullName</MudSelectItem>
                            }
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>

            <div class="d-flex justify-content-center gap-3 mt-4 mb-4">
                <MudButton StartIcon="@Icons.Material.Filled.Save" Color="Color.Primary" Variant="Variant.Filled" OnClick="Save">Save</MudButton>
                <MudButton StartIcon="@Icons.Material.Filled.Cancel" Color="Color.Default" Variant="Variant.Filled" OnClick="Cancel">Cancel</MudButton>
            </div>
        </MudForm>
    </DialogContent>
</MudDialog>